In [2]:
import pandas as pd
import numpy as np

In [4]:
#dict-list to data frame(df):
d={"name":['saurav','shruti','kusum'],'weight':[50,45,40],'place':['UP','Agra','Haryana']}

df=pd.DataFrame(d)
df

     name  weight    place
0  saurav      50       UP
1  shruti      45     Agra
2   kusum      40  Haryana

In [7]:
#transpose:
print(df.T)
#or
print(df.transpose())

             0       1        2
name    saurav  shruti    kusum
weight      50      45       40
place       UP    Agra  Haryana
             0       1        2
name    saurav  shruti    kusum
weight      50      45       40
place       UP    Agra  Haryana

In [10]:
#dict-dict to df:
d1={1:{'name':'saurav','age':'27','place':'Bihar','chapati':1},2:{'name':'shruti','age':'22','place':'Agra','chapati':2},
    3:{'name':'kusum','age':20,'place':'HR','chapati':3},4:{'name':'Neema','age':'20','place':'Pahadi','chapati':'chicken'}}
df1=pd.DataFrame(d1)
df1

              1       2      3        4
name     saurav  shruti  kusum    Neema
age          27      22     20       20
place     Bihar    Agra     HR   Pahadi
chapati       1       2      3  chicken

In [15]:
#list-list to df:
d2=[[1,2,3,4],[1,2,3,4],[1,2,3,4],[1,2,3,4]]
df2=pd.DataFrame(d2)
print(df2)

#renaming index and column:
df3=pd.DataFrame(d2,index=[1,2,3,4],columns=['A','B','C','D'])
print(df3)

   0  1  2  3
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4
   A  B  C  D
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4
4  1  2  3  4

In [30]:
#from numpy to df:   rand(0 to 1 random 25 numbers,column)
newdf=pd.DataFrame(np.random.rand(25,4),index=np.arange(25))
print(newdf)

# row printing:
print(newdf.iloc[0])
print(newdf.iloc[0:3])  #row range

#row and column printing:
print(newdf.iloc[5:8,1:3])

#top rows and column (by default 5):
print(newdf.head())
print(newdf.tail(2))

#desrcibe data frame:
print(newdf.describe())

#index and column printing:
print(newdf.index)
print(newdf.columns)
print(newdf.index,newdf.columns)

           0         1         2         3
0   0.237801  0.521456  0.829259  0.727212
1   0.567675  0.791717  0.918804  0.070279
2   0.386843  0.994038  0.204419  0.724350
3   0.990054  0.673312  0.329121  0.356265
4   0.863614  0.497386  0.401386  0.435885
5   0.693612  0.525224  0.060273  0.776222
6   0.164406  0.942158  0.265550  0.575710
7   0.351168  0.220446  0.097186  0.378193
8   0.140599  0.255923  0.119467  0.509850
9   0.289122  0.013509  0.395757  0.120657
10  0.585203  0.399607  0.839910  0.895469
11  0.743421  0.355543  0.047089  0.840147
12  0.861703  0.622261  0.916941  0.795026
13  0.989941  0.779648  0.410481  0.775455
14  0.609975  0.682518  0.812665  0.610796
15  0.088968  0.105688  0.203869  0.241005
16  0.756333  0.849658  0.877369  0.053409
17  0.808416  0.811882  0.707850  0.133153
18  0.109293  0.620190  0.096271  0.426239
19  0.436114  0.485996  0.701342  0.012847
20  0.077453  0.000834  0.608147  0.541877
21  0.566927  0.664525  0.464754  0.886629
22  0.209709  0.115373  0.021056  0.603932
23  0.417678  0.846053  0.405160  0.827944
24  0.268262  0.659855  0.141276  0.314288
0    0.237801
1    0.521456
2    0.829259
3    0.727212
Name: 0, dtype: float64
          0         1         2         3
0  0.237801  0.521456  0.829259  0.727212
1  0.567675  0.791717  0.918804  0.070279
2  0.386843  0.994038  0.204419  0.724350
          1         2
5  0.525224  0.060273
6  0.942158  0.265550
7  0.220446  0.097186
          0         1         2         3
0  0.237801  0.521456  0.829259  0.727212
1  0.567675  0.791717  0.918804  0.070279
2  0.386843  0.994038  0.204419  0.724350
3  0.990054  0.673312  0.329121  0.356265
4  0.863614  0.497386  0.401386  0.435885
           0         1         2         3
23  0.417678  0.846053  0.405160  0.827944
24  0.268262  0.659855  0.141276  0.314288
               0          1          2          3
count  25.000000  25.000000  25.000000  25.000000
mean    0.488572   0.537392   0.435016   0.505314
std     0.293321   0.289526   0.311442   0.284807
min     0.077453   0.000834   0.021056   0.012847
25%     0.237801   0.355543   0.141276   0.314288
50%     0.436114   0.620190   0.401386   0.541877
75%     0.743421   0.779648   0.707850   0.775455
max     0.990054   0.994038   0.918804   0.895469
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24],
           dtype='int64')
RangeIndex(start=0, stop=4, step=1)
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24],
           dtype='int64') RangeIndex(start=0, stop=4, step=1)

In [61]:
#from structured nd-array:
data=np.array([[1,2.0,'SB'],[2,3.0,'SH']])
print(type(data))
new_data=pd.DataFrame(data)
print(new_data)

#rename index and column:
data1=pd.DataFrame(data,index=['first','second'],columns=['A','B','C'])
print(data1)

<class 'numpy.ndarray'>
   0    1   2
0  1  2.0  SB
1  2  3.0  SH
        A    B   C
first   1  2.0  SB
second  2  3.0  SH

In [70]:
#accessing data frame:
print(data1['A'])  #printing column A

print(data1['A'][0])  #printing element

print(data1.iloc[0:1,1:3]) #range=row,column


#adding new column:
data1['D']=[2.5,5.6]
print(data1)

#adding new row:
data2=pd.DataFrame([[2,4.0,'RB',7.5]],index=['third'],columns=['A','B','C','D'])
print(data1.append(data2))

first     1
second    2
Name: A, dtype: object
1
         B   C
first  2.0  SB
        A    B   C    D
first   1  2.0  SB  2.5
second  2  3.0  SH  5.6
        A    B   C    D
first   1  2.0  SB  2.5
second  2  3.0  SH  5.6
third   2  4.0  RB  7.5

C:\Users\LENOVO1\AppData\Local\Temp\ipykernel_3232\116114834.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(data1.append(data2))