In [1]:
import pandas as pd

In [2]:
tuple1=(1,2,3,4,'five','six','seven','eight')
print(tuple1)

#tuple to series:

series1=pd.Series(tuple1)
print(series1)
print(series1.values)
print(type(series1))
print(series1.ndim)
print(series1.dtype)

#to print top or bottom elements:   for top: head , for bottom: tail

print(series1.head())    #by default 5 elements
print(series1.head(2))

print(series1.tail())
print(series1.tail(3))

#random sample element from series: (if blank then sample will be 1)

print(series1.sample(2))

#name and index range for series:

series11=pd.Series(tuple1,name='Lnb_Series',index=range(2,10))   
print(series11)

(1, 2, 3, 4, 'five', 'six', 'seven', 'eight')
0        1
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
[1 2 3 4 'five' 'six' 'seven' 'eight']
<class 'pandas.core.series.Series'>
1
object
0       1
1       2
2       3
3       4
4    five
dtype: object
0    1
1    2
dtype: object
3        4
4     five
5      six
6    seven
7    eight
dtype: object
5      six
6    seven
7    eight
dtype: object
2       3
4    five
dtype: object
2        1
3        2
4        3
5        4
6     five
7      six
8    seven
9    eight
Name: Lnb_Series, dtype: object

In [3]:
# dict to series:

lnb_dict={'lnb1':'IoT','lnb2':'AI','lnb3':'Devops'}
print(lnb_dict)

series2=pd.Series(lnb_dict)
print(series2)

{'lnb1': 'IoT', 'lnb2': 'AI', 'lnb3': 'Devops'}
lnb1       IoT
lnb2        AI
lnb3    Devops
dtype: object

In [4]:
#series to series:


#if copy=True then if anyone series gets changed, second one will not be changed...
series3=pd.Series(series1,copy=True)
print(series3)

series1[0]=5
print(series3)
print(series1)

#if copy=flase then if anyone series gets changed, second one will also get changed...
series4=pd.Series(series1,copy=False) #or
series4=pd.Series(series1)
print(series4)

series1[0]=10
print(series4)
print(series1)

0        1
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
0        1
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
0        5
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
0        5
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
0       10
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
0       10
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object

In [5]:
#indexing:

print(series1[0])
print(series1.iloc[0])
print(series1.iat[0])
print(series1.at[0])

print(series1[0:3])

print(series2.get('lnb1'))
print(series2.at['lnb2'])
print(series2.iloc[1])
print(series2.iat[2])
print(series2[2])

10
10
10
10
0    10
1     2
2     3
dtype: object
IoT
AI
AI
Devops
Devops

In [11]:
#transpose:

print(series1.T)

#key pair:
print(series1.axes)
print(series2.axes) #or
print(series2.index)
print(series2.values)
print(series2.keys)

0       10
1        2
2        3
3        4
4     five
5      six
6    seven
7    eight
dtype: object
[RangeIndex(start=0, stop=8, step=1)]
[Index(['lnb1', 'lnb2', 'lnb3'], dtype='object')]
Index(['lnb1', 'lnb2', 'lnb3'], dtype='object')
['IoT' 'AI' 'Devops']
<bound method Series.keys of lnb1       IoT
lnb2        AI
lnb3    Devops
dtype: object>

In [13]:
#list to series:

hetero_list=[1,2,3,'lnb',None,True]
series5=pd.Series(hetero_list)
print(series5)

#for checing series includes None value or not:
print(series1.hasnans)
print(series5.hasnans)

0       1
1       2
2       3
3     lnb
4    None
5    True
dtype: object
False
True